:root {
  --width: min(100%, 450px);
}

#root {
  max-width: var(--width);
  margin: 0 auto;
  padding: 1rem 2rem;
}

.Title {
  text-align: center;
  margin-bottom: 1rem;
  width: var(--width);
}

.GameActions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  width: var(--width);
}

.Summary {
  margin-bottom: 3rem;
  width: var(--width);
}

.Summary > h2 {
  color: var(--red-200);
}

.Summary__playerList {
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 5px;
  border: 1px solid var(--green-300);
  border-bottom: 1px solid transparent;
  color: var(--blue-300);
}

.Summary__playerList > * {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--green-300);
}

.PlayersList {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.Player {
  width: var(--width);
  margin-bottom: 2rem;
}

.Player__name,
.Player__nameForm {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--green-300);
  padding-bottom: 1rem;
}

.Player__name h2 {
  color: var(--blue-300);
  margin: 0;
}

.Player__actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Player__wordForm {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.Player__wordList {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  color: var(--bone-200);
}

.Player__scoreTotal {
  font-weight: 900;
  color: var(--blue-500);
}

.right-align {
  text-align: right;
}

.blue-300 {
  color: var(--blue-300);
}

.red-200 {
  color: var(--red-200);
}

em {
  font-weight: 400;
}
