@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Notable&family=Roboto+Slab:wght@100..900&display=swap");
:root {
  --neutral-900: #110506;

  --green-100: #acdcc4;
  --green-300: #74d4a4;
  --green-500: #12876d;
  --green-700: #0c6e59;
  --green-800: #0a4738;

  --blue-300: #80caf9;
  --blue-500: #30b6fd;

  --red-200: #f29e93;
  --red-400: #f24130;
  --red-500: #d93030;
  --red-600: #ce2717;
  --red-700: #bc2b2b;

  --bone-200: #f2e9be;
  --bone-300: #b1a87a;

  --piece-font: "Notable", sans-serif;

  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  letter-spacing: 0.07rem;
  font-style: normal;

  line-height: 1.5;

  color: var(--bone-200);
  background-color: var(--green-800);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--blue-500);
  text-decoration: inherit;
}
a:hover {
  opacity: 0.7;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: var(--piece-font);
  letter-spacing: 0.4rem;
  font-size: 2.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--neutral-900);
  background-color: var(--green-300);
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--green-500);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.danger {
  background-color: var(--red-200);
}

button.danger:hover {
  background-color: var(--red-700);
}
